obj/
custom/
data/
darknet
predictions.jpg
*.weights
vid2frames
*.mp4
*.list
*.jpg
yolo-mark
*.o
train.txt
cifar/
yolo-mark
*.o
train.txt
CMakeCache.txt
*.zip

**/bower_components or sometimes it is lib/**
*.swp
*.swo

www/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.firebase/
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
