<ion-list>
  <ion-item-sliding *ngFor="let drone of drones; let i=index" [attr.data-index]="i">

    <ion-item>

      <ion-label (click)="armDrone($event)">{{ drone.getName() }}</ion-label>

    <!-- Drone Disconnected -->
      <ion-chip (click)="connectDrone($event)" *ngIf="!drone.connected">
        <ion-label  color="danger">Connected</ion-label>
      </ion-chip>
    <!-- ========================================== -->

    <!-- Drone Connected -->
      <ion-chip  (click)="disconnectDrone($event)" *ngIf="drone.connected">
        <ion-label color="success">Connected</ion-label>
      </ion-chip>

    <!-- ========================================== -->
      <ion-thumbnail (click)="armDrone($event)" slot="end">
        <img src={{drone.getIcon()}}>
      </ion-thumbnail>

    </ion-item>


    <ion-item-options side="end">
      <ion-item-option color= "medium"(click)="unread(item)">Settings</ion-item-option>
    </ion-item-options>


  </ion-item-sliding>
</ion-list>
