<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
			<ion-title> {{ session.sessionName }} </ion-title>
		</ion-buttons>	
	</ion-toolbar>
</ion-header>
<ion-content>


	<div *ngIf="images">

		<!-- <ion-avatar class="avatar"> -->
		<!-- 	<img [src]="getDroneIcon()"> -->
		<!-- </ion-avatar> -->


		<!-- Production -->
		<!-- <ion-img class="full-img" (click)="viewPhoto()" [src]="getImageSource(activeImageIndex)"></ion-img> -->
		<!-- <ion-slides loop slidesPerView="3"> -->
		<!--     <ion-slide *ngFor="let image of imageArray; let i=index " ng-init="s = i"> -->
		<!--         <ion-img  (click)="updateIndex(i)" [src]="getImageSource(i)"></ion-img> -->
		<!--     </ion-slide> -->
		<!-- </ion-slides> -->
		<!-- ========================================================================================================= -->
		<!-- ========================================================================================================= -->

		<!-- Testing -->
		<ion-img class="full-img" (click)="viewPhoto()" [src]="images[activeImageIndex]">
		</ion-img>
		<ion-slides loop slidesPerView="3">
			<ion-slide *ngFor="let image of images; let i=index " ng-init="s = i">
				<ion-img (click)="updateIndex(i)" [src]="image"></ion-img>
			</ion-slide>
		</ion-slides>
		<!-- ========================================================================================================= -->

		<!-- <ion-list> -->
		<!--     <ion-item lines="none">Battery: 72%</ion-item> -->
		<!--     <ion-item lines="none">Lat: -25.755710, Lon: 28.232592</ion-item> -->
		<!-- </ion-list> -->


		<!-- <ion-button expand="block" size="medium" color="success" (click)="returnHome()">Online</ion-button> -->
		<!-- <ion-button expand="block" size="medium" color="primary" (click)="armDrone()">Connect</ion-button> -->
	</div>
</ion-content>
