<ion-header>
  <ion-toolbar>
	<ion-title>Create New Drone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
	<ion-label>Drone Icon</ion-label>
	<ion-avatar slot="end">
	  <img src="./assets/drone-icons/drone-2.svg">
	</ion-avatar>
  </ion-item>

  <ion-item>
	<ion-label position="stacked">Drone Name</ion-label>
	<ion-input required="true" ></ion-input>
  </ion-item>

  <ion-item>
	<ion-label position="stacked">IP address</ion-label>
	<ion-input value="10.0.0."></ion-input>
  </ion-item>

  <ion-item>
	<ion-label position="stacked">Connection Port</ion-label>
	<ion-input type="number" ></ion-input>
  </ion-item>
  <ion-item>
	<ion-label position="stacked">Comments</ion-label>
	<ion-textarea></ion-textarea>
  </ion-item>

  <ion-button (click)="submitDroneInfo()" color="primary" expand="block">Submit</ion-button>
  <ion-button (click)="cancelDroneCreation()"color="danger" expand="block">Cancel</ion-button>

</ion-content>
